body {
    background-color: #9c9c9c;
}

footer {
    position: absolute;
    bottom: -50px;
    width: 100%;
}

td {
    width: 300px;
}

.btn-xlg {
    padding: 15px 25px;
    font-size: 20px; //change this to your desired size
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}
